// default
html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
img {
    max-width: 100%;
    height: auto;
}

// inverted
.text-light {
    & * {
        color: $light !important;
    }
}
.section__padding {
    padding-top: 8rem;
    padding-bottom: 8rem;
}
.section__margin {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

/* .section__counter {
    margin-top: -3rem;
    position: relative;
    z-index: 2;
}
 */

/* 
.fade-in {
    opacity: 0;
    transition: opacity 0.25s ease-in;
}
.fade-in.appear {
    opacity: 1;
}

.slide {
    transition: opacity 0.3s ease, transform 0.5s ease;

    &-up {
        transform: translate(0, 3rem);
        opacity: 0;
    }
    &-down {
        transform: translate(0, -3rem);
        opacity: 0;
    }
    &-left {
        transform: translate(-3rem, 0);
        opacity: 0;
    }
    &-right {
        transform: translate(3rem, 0);
        opacity: 0;
    }

    &.appear {
        transform: translate(0);
        opacity: 1;
    }
}
 */