
// $primary:       $blue !default;
$primary: #6ebbfa;
// $secondary:     $gray-600 !default;
// $success:       $green !default;
// $info:          $cyan !default;
$info: #4177c5;
// $warning:       $yellow !default;
// $danger:        $red !default;
$danger: #b4191f;
// $light:         $gray-100 !default;
$light: #f8f9fa;
// $dark:          $gray-900 !default;

$font-family-base: "Roboto", sans-serif;
$headings-font-family: "Roboto Condensed", sans-serif;
$headings-font-weight: bold;
$display-font-family: "Roboto Condensed", sans-serif;
$display-font-weight: bold;

$font-size-base: 1rem;
// $h1-font-size: $font-size-base * 3;
// $h2-font-size: $font-size-base * 2.75;
// $h3-font-size: $font-size-base * 2.5;
$h3-font-size: $font-size-base * 1.5625;
// $h4-font-size: $font-size-base * 2;
// $h5-font-size: $font-size-base * 1.75;
// $h6-font-size: $font-size-base * 1.5;
// $lead-font-size: $font-size-base * 1.5;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500&display=swap");

@import "bootstrap/scss/bootstrap";

@import "bootstrap-icons/font/bootstrap-icons.css";

@import "aos/dist/aos.css";


@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";