html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
img {
    max-width: 100%;
    height: auto;
}

p {
    font-size: 1.125rem;
}
.section__padding {
    padding-top: 8rem;
    padding-bottom: 8rem;
}
.section__margin {
    margin-top: 6rem;
    margin-bottom: 6rem;
}
