@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500&display=swap");

$primary: #3f2b70;
$danger: #b4191f;
$info: #6ebbfa;
$light: #f8f9fa;
// $secondary: gold;
$card-border-radius: 0;
// $card-border-radius: 1rem;

$font-family-base: "Roboto", sans-serif;
$font-size-root: 15px;

$headings-font-family: "Roboto Condensed", sans-serif;
// $headings-font-style:         null !default;
$headings-color: #343434;
$display-font-family: "Roboto Condensed", sans-serif;
$display-font-weight: bold;

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 3;
$h2-font-size: $font-size-base * 2.75;
$h3-font-size: $font-size-base * 2.5;
$h4-font-size: $font-size-base * 2;
$h5-font-size: $font-size-base * 1.75;
$h6-font-size: $font-size-base * 1.5;

// $display-font-sizes: (
//     1: 4rem,
//     2: 3.5rem,
//     3: 3rem,
//     4: 2.5rem,
//     5: 2rem,
//     6: 1.5rem,
// );

// $lead-font-size:              $font-size-base * 1.25 !default;

// $hr-color:                    $gre;

$input-btn-padding-y: 1rem !default;
$input-btn-padding-x: 2rem !default;
// $input-btn-font-family:       null !default;

// $input-btn-padding-y-sm:      .25rem !default;
// $input-btn-padding-x-sm:      .5rem !default;
// $input-btn-padding-y-lg:      .5rem !default;
// $input-btn-padding-x-lg:      1rem !default;

// $btn-padding-y:               $input-btn-padding-y !default;
// $btn-padding-x:               $input-btn-padding-x !default;

// $card-spacer-y:                     $spacer !default;
// $card-spacer-x:                     $spacer !default;
// $card-title-spacer-y:               $spacer * .5 !default;
// $card-border-width:                 $border-width !default;
// $card-border-color:                 var(--#{$prefix}border-color-translucent) !default;
// $card-border-radius:                $border-radius !default;
// $card-box-shadow:                   null !default;
// $card-inner-border-radius:          subtract($card-border-radius, $card-border-width) !default;
// $card-cap-padding-y:                $card-spacer-y * .5 !default;
// $card-cap-padding-x:                $card-spacer-x !default;
// $card-cap-bg:                       rgba($black, .03) !default;
// $card-cap-color:                    null !default;
// $card-height:                       null !default;
// $card-color:                        null !default;
// $card-bg:                           $white !default;
// $card-img-overlay-padding:          $spacer !default;
// $card-group-margin:                 $grid-gutter-width * .5 !default; */

.card__courses {
    --color-red: #f36626;
    --color-green: #39baa0;
    --color-blue: #3798e7;
    --color-yellow: #f3b61f;
    color: $light;
    .card__course {
        border: 0;
    }

    :nth-child(1n + 0) > .card__course {
        background-color: var(--color-red);
    }
    :nth-child(2n + 0) > .card__course {
        background-color: var(--color-green);
    }
    :nth-child(3n + 0) > .card__course {
        background-color: var(--color-blue);
    }
    :nth-child(4n + 0) > .card__course {
        background-color: var(--color-yellow);
    }
}
/* 
.masthead__overlay {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
    }
    & > div {
        position: relative;
        z-index: 1;
    }
} */
footer ul {
    list-style: none;
    padding-left: 0;
}
footer p,
footer ul {
    margin-bottom: 0;
}

.section__padding {
    padding-top: 8rem;
    padding-bottom: 8rem;
}
.section__margin {
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.section__counter {
    margin-top: -3rem;
    position: relative;
    z-index: 2;
}
.text-light {
    & * {
        color: $light !important;
    }
}

// override_bootstrap_variable
// @import "./override-mckl";
// @import "./override-upskills";
// @import "./override-yayasan";

// https://getbootstrap.com/docs/4.6/
// @import "legacy-bootstrap/scss/bootstrap";

// https://getbootstrap.com/docs/5.2/
@import "bootstrap/scss/bootstrap";

// https://icons.getbootstrap.com/
@import "bootstrap-icons/font/bootstrap-icons.css";

// https://animate.style/#utilities
@import "animate.css";

// default
html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}
img {
    max-width: 100%;
    height: auto;
}
/* 
// footer_sticky
html,
body {
    height: 100%;
}
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

// header_position_fixed
body {
    grid-template-rows: 1fr auto;

    & > header {
        position: fixed;
        top: 0;
        width: 100%;
    }
    & > main {
        margin-top: 56px;
    }
}
@include media-breakpoint-down(lg) {
    body > header {
        position: relative;
    }
    body > main {
        margin-top: 0;
    }
} */

.text--shadow {
    text-shadow: 0.25rem 0.25rem 0.2rem rgba(0, 0, 0, 0.5);
}
.masthead__bg {
    /* background-image: url("../assets/upskills/upskills-bg.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    aspect-ratio: 22/ 9;
}
.fade-in {
    opacity: 0;
    transition: opacity 0.25s ease-in;
}
.fade-in.appear {
    opacity: 1;
}

.slide {
    transition: opacity 0.3s ease, transform 0.5s ease;

    &-up {
        transform: translate(0, 3rem);
        opacity: 0;
    }
    &-down {
        transform: translate(0, -3rem);
        opacity: 0;
    }
    &-left {
        transform: translate(-3rem, 0);
        opacity: 0;
    }
    &-right {
        transform: translate(3rem, 0);
        opacity: 0;
    }

    &.appear {
        transform: translate(0);
        opacity: 1;
    }
}
.h2.bi {
    color: rgb(63, 43, 112);
}

.carousel-indicators {
    transform: translateY(200%);

    [data-bs-target] {
        background-color: rgb(63, 43, 112);
    }
}
.carousel-control-next,
.carousel-control-prev {
    background-color: rgb(63, 43, 112);
    top: 50%;
    bottom: auto;
    width: auto;
    padding: 1rem;
    transform: translateY(-50%);
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 1.5rem;
    height: 1.5rem;
}
.blockquote-footer::before {
    content: "";
}
