---
import jay from "@assets/jay.jpg";
import darrek from "@assets/darrek.jpg";
import jacp from "@assets/jacp.jpg";
import yingying from "@assets/testimonial-yingying.jpg";
import jeremy from "@assets/testimonial-jeremy_kosman.jpg"; 
import shereen from "@assets/testimonial-shereen-320.jpeg"; 

const testimonials = [
{
    img_src: yingying,
    quote: `
    <h3 class="h5">Nothing is more rewarding than taking a chance on yourself</h3>
    <p>Driven by her passion to help others, Ying Ying is currently pursuing a part-time degree in Counselling while working as a Demand Planning Manager (Pharmaceutical). Despite the challenges of juggling between work, caring for her two children, and studying, she finds the endeavor worthwhile.</p>`,
    name: "Chia Ying Ying, 45",
  },
  {
    img_src: jeremy,
    quote: `
    <h3 class="h5">Skill up where your passion lies</h3>
    <p>An electrical engineer by training with a strong belief that design should serve humans and be for social good, Jeremy reskilled himself to an UX Designer. He obtained a Specialist Diploma in Mobile Applications and pursued a course in UX design at the National University of Singapore. While the two fields may be completely different, he found that the learning experience not only boosted his knowledge but helped him to work more effectively.</p>`,
    name: "Jeremy Hugon Kosman, 33",
  },
  {
    img_src: shereen,
    quote: `
    <h3 class="h5">Step out of your comfort zone</h3>
    <p>Once a customer service officer, interacting with customers via email and phone calls, in the banking sector, Nura Sheeren is now a Social Media Service Manager in the financial services sector. She upskilled herself because she recognised the changes that were taking place in the sector and found that pivoting into a role related to social media was a natural progression given her product knowledge in finance and customer service experience. She found that the courses she attended, which includes social media and other competency courses, helpful in her professional role and in her personal life.</p>`,
    name: "Nura Sheeren, 41",
  },
];
---

<div class="swiper swiper_testimonial">
  <div class="swiper-wrapper">
    {
      testimonials.map((item, index) => (
        <div class="swiper-slide">
          <figure>
            <blockquote
              class="blockquote"
              set:html={item.quote}
            />
            <figcaption class="fw-semibold">&mdash; {item.name}</figcaption>
            <img
            class="rounded-circle my-3"
            width="120"
            src={item.img_src}
            alt={item.name}
            />
          </figure>
        </div>
      ))
    }
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>

<script>
  import { Swiper } from 'swiper';
  import { Navigation, Pagination, Autoplay } from 'swiper/modules';

  const swiper = new Swiper('.swiper_testimonial', {
    modules: [Navigation, Pagination],
    grabCursor: true,
    slidesPerView: "auto",
    centeredSlides: true,
    spaceBetween: 30,
    loop: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });

</script>

<style lang="scss" is:global>

  $yellow: #fbda50;


  @import "swiper/css";
  @import "swiper/css/pagination";
  @import "swiper/css/navigation";

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper_testimonial .swiper-slide {
      width: 80%;
      height: 100%;

      padding-bottom: 1rem;
    }

    .swiper-slide-active figure {
      opacity: 1;
      scale: 1;
    }
    .swiper-slide-prev figure {
      transform-origin: right center;
    }
    .swiper-slide-next figure {
      transform-origin: left center;
    }
    h3 {
      text-transform: uppercase;
    }

    figure {
      opacity: 0.6;
      scale: 0.8;
      transition: all .4s ease;
      background: $yellow;
      padding: 3rem;
      text-align: start;
      border-radius: var(--bs-border-radius-xxl);
    }

    figure img {
      max-width: 92px;
    }
    @media (max-width:767px){
      figure {
        padding: 1.5rem;
      }
      .blockquote {
        font-size: 1rem;
      }
    }
</style>