<section
  id="why_guidance_feature"
  class="container pt-5 px-4 px-md-0 text-center text-md-start"
>
  <div class="row row-cols-1 row-cols-md-2 py-5">
    <div
      class="feature_box rounded p-3 col d-flex flex-column align-items-start justify-content-center gap-2"
    >
      <h2>
        Not sure where to start?
        <br />
         Explore our free Skills and Training Advisory services
      </h2>
      <p>
        Our Skills Ambassadors offer free one-to-one consultations, online and
        in person.
      </p>
      <a
        href="https://www.myskillsfuture.gov.sg/content/portal/en/career-resources/career-resources/education-career-personal-development/skills-training-advice.html"
        target="_blank"
        class="btn btn-light btn-sm rounded-pill mx-auto mx-md-0"
        style="white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;"
        >Find out more</a
      >
    </div>

    <div class="col">
      <div class="row text-center">
        <div class="feature_box">
          <p class="m-0 py-3 h3">
            The Skills Ambassadors can provide advice in:
          </p>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-sm-2">
        <div class="feature_box rounded p-3 col d-flex flex-column gap-2">
          <div class="feature-icon-small">
            <i class="bi bi-bullseye" data-aos="special-fade-down"></i>
          </div>
          <h3>Identifying skills and training needs for your career goals</h3>
        </div>

        <div class="feature_box rounded p-3 col d-flex flex-column gap-2">
          <div class="feature-icon-small">
            <i
              class="bi bi-reception-4"
              data-aos="special-fade-down"
              data-aos-delay="100"></i>
          </div>
          <h3>Supporting career transition or progression</h3>
        </div>

        <div class="feature_box rounded p-3 col d-flex flex-column gap-2">
          <div class="feature-icon-small">
            <i
              class="bi bi-signpost-2-fill"
              data-aos="special-fade-down"
              data-aos-delay="200"></i>
          </div>
          <h3>Finding suitable courses and course providers</h3>
        </div>

        <div class="feature_box rounded p-3 col d-flex flex-column gap-2">
          <div class="feature-icon-small">
            <i
              class="bi bi-person-fill-check"
              data-aos="special-fade-down"
              data-aos-delay="300"></i>
          </div>
          <h3>Accessing various assistance schemes for skills upgrading</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<style lang="scss">
  .feature_box {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.2) 15%,
      rgba(255, 255, 255, 0) 50%
    );
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  .bi {
    font-size: 5rem;
  }
</style>
