---
import CardFlipContent from "../components/CardFlipContent.astro";

import { Image } from "astro:assets";
import img_card1 from "../assets/why_upskill_1.jpg";
// import img_card2 from "../assets/why_upskill_2.jpg";
import img_card2 from "../assets/why_upskill_2-b.jpg";
import img_card3 from "../assets/why_upskill_3.jpg";
---

<div class="container">
  <div class="row my-5 row-cols-1 row-cols-lg-3">
    <!-- card1 -->
    <CardFlipContent
      id="why-upskill-1"
      data-aos="special-fade-down"
      data-aos-delay="20"
    >
      <div class="card" slot="card_front">
        <Image
          width="640"
          height="480"
          src={img_card1}
          class="card-img-top"
          alt="Learn New Skills"
          format="jpg"
        />
        <div class="card-body">
          <h2 class="card-title h3">Learn New Skills</h2>
          <p class="card-text">
            I want to stay relevant in my current job and secure the right
            skills to move where I want.
          </p>
        </div>
        <div class="card-footer">
          <a class="btn btn-light btn-sm rounded-pill btn__cardflip"
            >Find out more</a
          >
        </div>
      </div>
      <!-- back -->
      <div class="card" slot="card_back">
        <header class="card-header bg-info">
          <button class="btn btn__cardflip">
            <i class="bi bi-arrow-return-left"></i>
          </button>
        </header>
        <div class="card-body">
          <h2 class="card-title h3">Learn New Skills</h2>

          <p>
            Widen your career options by identifying the skills you need from
            the resources below.
          </p>

          <ul class="nav flex-column">
            <li class="nav-item">
              <a
                href="https://www.skillsfuture.gov.sg/skillsreport#midcareerworkers"
                class="nav-link"
                target="_blank"
                >Skills Demand for the Future Economy Report 2022</a
              >
            </li>
            <li class="nav-item">
              <a
                href="https://www.skillsfuture.gov.sg/jobs-skills"
                class="nav-link"
                target="_blank">Jobs-Skills Insights</a
              >
            </li>
            <li class="nav-item">
              <a
                href="https://www.skillsfuture.gov.sg/skills-framework"
                class="nav-link"
                target="_blank">Skills Frameworks</a
              >
            </li>
          </ul>

          <p>
            And explore programmes that will equip you with these in-demand
            skills.
          </p>

          <ul class="nav flex-column">
            <li class="nav-item">
              <a
                href="https://linktr.ee/DigitalEconomy"
                class="nav-link"
                target="_blank">Digital Economy Courses</a
              >
            </li>
            <li class="nav-item">
              <a
                href="https://linktr.ee/GreenEconomy"
                class="nav-link"
                target="_blank">Green Economy Courses</a
              >
            </li>
            <li class="nav-item">
              <a
                href="https://linktr.ee/CareEconomy"
                class="nav-link"
                target="_blank">Care Economy Courses</a
              >
            </li>
            <li class="nav-item">
              <a
                href="https://www.myskillsfuture.gov.sg/content/portal/en/career-resources/career-resources/education-career-personal-development/skillsfuture-series.html"
                class="nav-link"
                target="_blank">SkillsFuture Series</a
              >
            </li>
            <li class="nav-item">
              <a
                href="https://www.skillsfuture.gov.sg/initiatives/mid-career/digitalworkplace"
                class="nav-link"
                target="_blank">SkillsFuture for Digital Workplace</a
              >
            </li>
          </ul>

          <p>
            Or explore the <a
              href="https://www.skillsfuture.gov.sg/initiatives/mid-career/careertransition"
              target="_blank">SkillsFuture Career Transition Programme</a
            > to improve your employability and move to new sectors or job
            roles.
          </p>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a
                href="https://www.myskillsfuture.gov.sg/content/portal/en/portal-search/portal-search-courses-tab.html?fq=Course_Supp_Period_To_1%3A%5B2022-04-19T00%3A00%3A00Z%20TO%20*%5D&fq=IsValid%3Atrue&q=SCTP"
                class="nav-link"
                target="_blank">Browse SCTP courses</a
              >
            </li>
          </ul>
        </div>
      </div>
    </CardFlipContent>

    <!-- card2 -->
    <CardFlipContent
      id="why-upskill-2"
      data-aos="special-fade-down"
      data-aos-delay="200"
    >
      <div class="card" slot="card_front">
        <Image
          width="640"
          height="480"
          src={img_card2}
          class="card-img-top"
          alt="Enjoy Subsidies"
          format="jpg"
          style="object-position: 45% center"
        />
        <div class="card-body">
          <h2 class="card-title h3">Enjoy Subsidies</h2>
          <p class="card-text">
            I want to explore the available subsidies and relevant subsidised
            programmes.
          </p>
        </div>
        <div class="card-footer">
          <a class="btn btn-light btn-sm rounded-pill btn__cardflip"
            >Find out more</a
          >
        </div>
      </div>
      <!-- back -->
      <div class="card" slot="card_back">
        <header class="card-header bg-info">
          <button class="btn btn__cardflip">
            <i class="bi bi-arrow-return-left"></i>
          </button>
        </header>
        <div class="card-body">
          <h2 class="card-title h3">Enjoy Subsidies</h2>
          <p>Use the following schemes to offset your course fees.</p>

          <ul class="nav flex-column">
            <li class="nav-item">
              <a
                href="https://www.myskillsfuture.gov.sg/content/portal/en/career-resources/career-resources/education-career-personal-development/Additional-SkillsFuture-Credit-Mid-Career-Support0.html"
                class="nav-link"
                target="_blank">SkillsFuture Mid-Career Support Package</a
              >
            </li>
            <li class="nav-item">
              <a
                href="https://www.skillsfuture.gov.sg/enhancedsubsidy"
                class="nav-link"
                target="_blank">SkillsFuture Mid-Career Enhanced Subsidy</a
              >
            </li>
            <li class="nav-item">
              <a
                href="https://www.myskillsfuture.gov.sg/content/portal/en/career-resources/career-resources/education-career-personal-development/SkillsFuture_Credit.html"
                class="nav-link"
                target="_blank">SkillsFuture Credit</a
              >
            </li>
          </ul>
        </div>
      </div>
    </CardFlipContent>

    <!-- card3 -->
    <CardFlipContent
      id="why-upskill-3"
      data-aos="special-fade-down"
      data-aos-delay="400"
    >
      <div class="card" slot="card_front">
        <Image
          width="640"
          height="480"
          src={img_card3}
          class="card-img-top"
          alt="..."
          format="jpg"
        />
        <div class="card-body">
          <h2 class="card-title h3">Get Guidance</h2>
          <p class="card-text">
            I am not sure what I am looking for or what steps I should take to
            upskill myself.
          </p>
        </div>
        <div class="card-footer">
          <a class="btn btn-light btn-sm rounded-pill btn__cardflip"
            >Find out more</a
          >
        </div>
      </div>
      <!-- back -->
      <div class="card" slot="card_back">
        <header class="card-header bg-info">
          <button class="btn btn__cardflip">
            <i class="bi bi-arrow-return-left"></i>
          </button>
        </header>
        <div class="card-body">
          <h2 class="card-title h3">Get Guidance</h2>

          <p>
            Get a free one-to-one <a
              href="https://www.myskillsfuture.gov.sg/content/portal/en/career-resources/career-resources/education-career-personal-development/skills-training-advice.html"
              target="_blank">Skills and Training Advisory</a
            > consultation with our Skills Ambassadors.
          </p>

          <p>
            Explore a wealth of skills and career resources on <a
              href="https://www.myskillsfuture.gov.sg/content/portal/en/index.html"
              target="_blank">MySkillsFuture</a
            >.
          </p>

          <p>
            Attend free <a
              href="https://www.skillsfuture.gov.sg/advice"
              target="_blank">SkillsFuture Advice</a
            > workshops that provide guidance on skills upgrading and career
            planning.
          </p>
        </div>
      </div>
    </CardFlipContent>
  </div>
</div>
<style lang="scss">
  $lg: 1024px;

  .card {
    --padding-y: 2rem;

    background: var(--upskill-bg);
    color: #fff;
    border: 0;
    overflow: hidden;
  }
  .card-img-top {
    aspect-ratio: 4/3;
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
    max-height: 60%;

    @media (min-width: $lg) {
      aspect-ratio: 1/1;
    }
  }
  .card-header {
    padding: 0 1rem !important;
  }
  .card-body {
    padding-top: var(--padding-y);

    li {
      font-size: 0.85rem;
      line-height: 1.3;
    }
  }
  .card-footer {
    border: 0;
    background: transparent;
    padding-bottom: var(--padding-y);
  }

  .card-body {
    a {
      font-weight: 500;
      color: var(--bs-light);
    }
    a:focus,
    a:hover {
      opacity: 0.9;
      color: var(--bs-nav-link-hover-color);
    }
    p > a {
      font-size: 1.1rem;
    }
    .nav {
      margin-bottom: 0.5rem;
    }
    .nav .nav-link {
      border-radius: var(--bs-border-radius);
      margin-bottom: 0.2rem;
      background: var(--bs-light);
      color: var(--bs-body-color);
      text-align: center;
    }

    .nav .nav-link:focus,
    .nav .nav-link:hover {
      color: var(--bs-nav-link-hover-color);
      opacity: 0.9;
    }
  }

  /* default */
  .card > header {
    text-align: end;
  }
  .card > header > .btn {
    padding: 0 1rem;
  }
  .bi {
    font-size: 1.5rem;
  }
</style>
<script is:inline>
document.addEventListener("DOMContentLoaded", () => {
  const card1 = document.getElementById("why-upskill-1");
  const card2 = document.getElementById("why-upskill-2");
  
  // Function to set the height of card1 equal to card2
  const setEqualHeight = () => {
    card1.style.height = `${card2.offsetHeight}px`;
  };

  // Initial set
  setEqualHeight();
  
  // Add transition
  card1.style.transition = "height 0.3s ease-in-out";

  // Listen for changes in the height of card2
  new ResizeObserver(() => {
    setEqualHeight();
  }).observe(card2);

  // Listen for class changes on card1
  const observer = new MutationObserver(() => {
    if (card1.classList.contains("active")) {
      card1.style.height = "auto";
    } else {
      setEqualHeight();
    }
  });

  // Observe for changes in the class attribute
  observer.observe(card1, {
    attributes: true,
    attributeFilter: ["class"]
  });
});
</script>
