<section id="why_guidance_feature" class="container pt-5">
  <div class=" row row-cols-1 row-cols-md-2 py-5">
      <div class="feature_box rounded p-3 col d-flex flex-column align-items-start justify-content-center gap-2">
        <h2 class="fw-bold">Not sure where to start?
          <br>
          Benefit from free Skills and Training Advisory Services today</h2>
        <p>Our Skills Ambassadors offers free one-to-one consultation online and at physical
          locations.</p>
        <a href="#" class="btn btn-light btn-lg rounded-pill">Register Now</a>
      </div>

      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2">
          <div class="feature_box rounded p-3 col d-flex flex-column gap-2">
            <div class="feature-icon-small">
              <i class="bi bi-bullseye" data-aos="special-fade-down"></i>
            </div>
            <h4 class="fw-semibold">Identifying skills and training needs for your career goals</h4>
            
          </div>

          <div class="feature_box rounded p-3 col d-flex flex-column gap-2">
            <div class="feature-icon-small">
              <i class="bi bi-reception-4" data-aos="special-fade-down" data-aos-delay="100"></i>

            </div>
            <h4 class="fw-semibold">Supporting career transition or progression</h4>
            
          </div>

          <div class="feature_box rounded p-3 col d-flex flex-column gap-2">
            <div class="feature-icon-small">
              <i class="bi bi-signpost-2-fill" data-aos="special-fade-down" data-aos-delay="200"></i>

            </div>
            <h4 class="fw-semibold">Finding suitable courses and course providers</h4>
            
          </div>

          <div class="feature_box rounded p-3 col d-flex flex-column gap-2">
            <div class="feature-icon-small">
              <i class="bi bi-person-fill-check" data-aos="special-fade-down" data-aos-delay="300"></i>

            </div>
            <h4 class="fw-semibold">Accessing various assistance schemes for skills upgrading</h4>
            
          </div>
        </div>
      </div>
    </div>
</section>
<style lang="scss">
.feature_box {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,.3) 0%, rgba(255,255,255,.2) 15%, rgba(255,255,255,0) 50%);
  border: 1px solid rgba(255,255,255,.5);
}
</style>