---
import Layout from "@layouts/Layout.astro";

import WhyUpskill from "@components/WhyUpskill.astro";
import SwiperMasthead from "@components/SwiperMasthead.astro";

// import BsCarouselTestimonials from "@components/BsCarouselTestimonials2-b.astro";
import SwiperTestimonials from "@components/SwiperTestimonials.astro";

// import SectionRoadshow1 from "../components/SectionRoadshow1.astro";
import SectionRoadshow230222 from "@components/SectionRoadshow230222.astro";

import NewsletterSubscription from "@components/NewsletterSubscription.astro";

import ContentWhyGuidance from "../components/ContentWhyGuidance.astro";

---

<Layout
  title="SkillsFuture Singapore | Opportunities don't wait"
  desc="The rise of new and emerging growth areas will create new jobs and change existing jobs and skills. Upskilling yourself in these growth areas will enable you to seize new job opportunities and stay relevant as times and job roles change."
>
  <section id="masthead">
    <SwiperMasthead />
  </section>

  <!-- why_upskills -->
  <section id="why_upskill" class="my-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 text-center">
          <h2 class="display-3 my-2">Upskilling Benefits More Than Yourself</h2>
          <p>
            Upskilling ensures your skills stay relevant, increases your career
            opportunities, and secures your job stability. Most importantly,
            upskilling yourself displays your commitment and self-drive to
            inspire, encourage and benefit those around you.
          </p>
        </div>
      </div>
    </div>
    <WhyUpskill />
  </section>


  <section id="why_guidance">
    <svg style="transform: rotate(180deg) " viewBox="0 0 1857 142" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M 0 0 C 227.60000000000002 0 341.4 114 569 114 L 569 114 L 569 0 L 0 0 Z" stroke-width="0"></path> <path d="M 568 114 C 845.2 114 983.8 68 1261 68 L 1261 68 L 1261 0 L 568 0 Z" stroke-width="0"></path> <path d="M 1260 68 C 1498.8 68 1618.2 144 1857 144 L 1857 144 L 1857 0 L 1260 0 Z" stroke-width="0"></path></svg>

    <article class="bg-primary text-light">
    <div class="container">
      <ContentWhyGuidance />
    </div>
    </article>
    
    <svg  viewBox="0 0 1857 144" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M 0 0 C 227.60000000000002 0 341.4 114 569 114 L 569 114 L 569 0 L 0 0 Z" stroke-width="0"></path> <path d="M 568 114 C 845.2 114 983.8 68 1261 68 L 1261 68 L 1261 0 L 568 0 Z" stroke-width="0"></path> <path d="M 1260 68 C 1498.8 68 1618.2 144 1857 144 L 1857 144 L 1857 0 L 1260 0 Z" stroke-width="0"></path></svg>
  </section>

  <section id="testimonials" class="my-5 py-5">
    <div class="container">
      <header class="text-center mb-5">
        <h2>Get Inspired</h2>
        <p>View the stories of those who’ve upskilled for a better future.</p>
      </header>
      <div class="row">
        <SwiperTestimonials />
      </div>
    </div>
  </section>

  <!-- <SectionRoadshow230222 /> -->

  <!-- video -->
  <section id="campaign_video">
    <div class="container">
      <div class="row text-center">
        <h2>
          Meet Alan
        </h2>
        <p>You see him upskilling. Find out what the people around him see.</p>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div id="campaign_video1" class="campaign_video"></div>
        </div>
         <div class="col-md-6">
          <div id="campaign_video2" class="campaign_video"></div>
        </div>
      </div>
    </div>
  </section>

  <!-- subscription -->
  <!-- <NewsletterSubscription id="form__subscribe" /> -->
</Layout>

<style>
  section {
    --section-padding: 3rem;
    padding: var(--section-padding) 0;
  }

  #why_guidance svg {
    fill: var(--bs-primary);
  }
  #why_guidance {
    position: relative;

    color: #fff;

    & h1 {
      color: #fff;
    }

    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: linear-gradient(135deg, rgb(255,255,255) 0%, rgb(20,20,20) 120%);
      position: absolute;
      top: 0;
      left: 0;  
    mix-blend-mode: color-burn;
    pointer-events: none;
    }
  }
  iframe.campaign_video  {
    aspect-ratio: 16/9;
    width: 100%;
  }
</style>
