---
import Layout from "@layouts/Layout.astro";

import SectionWhyUpskill from "@components/SectionWhyUpskill-2.astro";
import SwiperMasthead from "@components/SwiperMasthead.astro";

// import BsCarouselTestimonials from "@components/BsCarouselTestimonials2-b.astro";
import SwiperTestimonials from "@components/SwiperTestimonials.astro";

// import SectionRoadshow1 from "../components/SectionRoadshow1.astro";
import SectionRoadshow230222 from "@components/SectionRoadshow230222.astro";

import NewsletterSubscription from "@components/NewsletterSubscription.astro";

---

<Layout
  title="SkillsFuture Singapore | Opportunities don't wait"
  desc="The rise of new and emerging growth areas will create new jobs and change existing jobs and skills. Upskilling yourself in these growth areas will enable you to seize new job opportunities and stay relevant as times and job roles change."
>
  <section class="d-flex justify-content-center bg-light">
    <SwiperMasthead />
  </section>

  <!-- why_upskills -->
  <section id="why_upskill" class="my-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 text-center">
          <h2 class="display-3 my-2">Upskilling Benefits More Than Yourself</h2>
          <p>
            Upskilling ensures your skills stay relevant, increases your career
            opportunities, and secures your job stability. Most importantly,
            upskilling yourself displays your commitment and self-drive to
            inspire, encourage and benefit those around you.
          </p>
        </div>
      </div>
    </div>
    <SectionWhyUpskill />
  </section>

  <section id="testimonials" class="my-5 py-5">
    <div class="container">
      <header class="text-center mb-5">
        <h2>Get Inspired</h2>
        <p>View the stories of those who’ve upskilled for a better future.</p>
      </header>
      <div class="row">
        <SwiperTestimonials />
      </div>
    </div>
  </section>

  <SectionRoadshow230222 />

  <!-- video -->
  <section id="campaign_video" class="py-5 bg-light">
    <div class="container">
      <div class="row text-center">
        <h2>
          Meet Alan
          <!-- <span class="d-inline-block">Campaign Videos</span> -->
        </h2>
        <p>You see him upskilling. Find out what the people around him see.</p>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div id="campaign_video1" class="campaign_video"></div>
        </div>
        <!--  <div class="col-md-6">
          <div id="campaign_video2" class="campaign_video"></div>
        </div> -->
      </div>
    </div>
  </section>

  <!-- subscription -->
  <NewsletterSubscription id="form__subscribe" />
</Layout>

<style>
  #campaign_video iframe {
    aspect-ratio: 16/9;
    width: 100%;
    margin-bottom: 1.25rem;
  }
</style>
