---
import Layout from "../layouts/Layout.astro";

import SwiperMasthead from "./_SwiperMasthead.astro";
import WhyUpskill from "./_WhyUpskill.astro";
import WhyGuidance from "./_WhyGuidance.astro";
import WhyGuidanceAchievement from "./_WhyGuidanceAchievement.astro";
import SwiperTestimonials from "src/pages/_SwiperTestimonials.astro";
import CampaignVideos from "./_CampaignVideos.astro";
---

<Layout
  title="SkillsFuture Singapore | Opportunities don't wait"
  desc="The rise of new and emerging growth areas will create new jobs and change existing jobs and skills. Upskilling yourself in these growth areas will enable you to seize new job opportunities and stay relevant as times and job roles change."
>
  <section id="masthead" class="px-4">
    <SwiperMasthead />
  </section>

  <!-- why_upskills -->
  <section id="why_upskill" class="my-5">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col">
          <h1 class="display-4 my-2" style="text-wrap: balance">
            Secure your future by acquiring the right skills
          </h1>
          <p class="col-md-8 mx-auto">
            Innovation is radically transforming many industries, prompting a
            huge shift in the work environment. More than ever, upskilling has
            become a necessity, and having the initiative to learn and improve
            will help elevate your career opportunities and job stability.
          </p>
        </div>
      </div>
    </div>

    <div class="text--invert">
      <WhyUpskill />
    </div>
  </section>

  <section id="why_guidance" class="text--invert">
    <WhyGuidance />

    <WhyGuidanceAchievement />
  </section>

  <section id="testimonials" class="py-5">
    <div class="container-fluid">
      <div class="row text-center">
        <h2>Get Inspired</h2>
        <p>View the stories of those who’ve upskilled for a better future.</p>
      </div>
      <div class="row">
        <SwiperTestimonials />
      </div>
    </div>
  </section>

  <!-- <section id="campaign_video" class="my-5">
<div class="container">
<div class="row text-center">
<h2>Meet Alan</h2>
<p>You see him upskilling. Find out what the people around him see.</p>
</div>
</div>
<CampaignVideos />
</section> -->
</Layout>

<style lang="scss">
  #why_guidance {
    background: var(--color-darkblue);
    background: url("data:image/svg+xml,%3Csvg width='1857' height='1085' viewBox='0 0 1857 1085' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1805.36 142C1716.38 135.044 1644.44 111.022 1572.5 87.0001C1487.4 58.5836 1402.3 30.1671 1289 30.0008V30L1288.34 30.0001L1288 30C1149.9 30.0552 1046.2 41.5274 942.504 52.9995L942.5 53C838.7 64.4834 734.9 75.9669 596.599 75.9999C477.399 75.9574 387.95 56.9787 298.5 38L298.5 37.9999L298.5 37.9999C208.95 18.9999 119.4 -7.01283e-05 1.25889e-05 -8.05665e-05L0 142V144V941C113.8 941 199.15 969.5 284.5 998C369.6 1026.42 454.7 1054.83 568 1055L568.657 1055L569 1055C707.098 1054.94 810.796 1043.47 914.494 1032L914.496 1032L914.5 1032C1018.3 1020.52 1122.1 1009.03 1260.4 1009C1379.6 1009.04 1469.05 1028.02 1558.5 1047L1558.5 1047C1648.05 1066 1737.6 1085 1857 1085V941V144V142H1805.36Z' fill='url(%23paint0_linear_879_348)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_879_348' x1='1857' y1='-8.60691e-05' x2='911.794' y2='1617.74' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23556ECE'/%3E%3Cstop offset='1' stop-color='%2313BADF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 5rem 0;
    .bi {
      font-size: 5rem;
    }
    @media (max-width: 767px) {
      background-size: 200% 300%;
      background-position: center center;
      padding: initial;
    }
  }
</style>
<script>
  window.onload = function () {
    var isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
    var isIphoneOrIpad = /iPad|iPhone|iPod/.test(navigator.platform);
    var targetElement = document.getElementById("why_guidance");

    console.log(isSafari, isIphoneOrIpad);

    // Preferred background
    var preferredBg =
      "linear-gradient(135deg, rgb(var(--bs-info-rgb)) 0%, rgb(var(--bs-primary-rgb)) 120%)";

    // Fallback background
    var fallbackBg = "var(--color-darkblue)";

    if (isSafari && isIphoneOrIpad) {
      // targetElement.style.background = fallbackBg;
      targetElement.style.background = preferredBg;
      targetElement.style.padding = "0";
    } 
  };
</script>
