---
import Layout from "../layouts/Layout.astro";

// import SwiperMasthead from "./_SwiperMasthead.astro";
import WhyUpskill from "./_WhyUpskill.astro";
// import WhyGuidance from "./_WhyGuidance.astro";
// import WhyGuidanceAchievement from "./_WhyGuidanceAchievement.astro";
// import SwiperTestimonials from "src/pages/_SwiperTestimonials.astro";
// import CampaignVideos from "./_CampaignVideos.astro";

// import SwiperMasthead2 from "./_SwiperMasthead2.astro";

---

<Layout
  title="Test"
  desc="Innovation is radically transforming many industries, prompting a huge shift in the work environment. More than ever, upskilling has become a necessity, and having the initiative to learn and improve will help elevate your career opportunities and job stability."
>
    <div class="text--invert">
      <WhyUpskill />
    </div>

</Layout>
