---
import img_profile1 from "@assets/testimonial-deborah.jpg";
import img_profile2 from "@assets/testimonial-farhan.jpg";
---

<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"></button>
    <button
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <!--  <button
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button> -->
  </div>

  <div class="carousel-inner text-center">
    <div class="carousel-item active" data-bs-interval="12000">
      <figure class="testimonial col-md-8 mx-auto">
        <blockquote class="blockquote text-opacity-25">
          <p>
            “ It was Deborah Jean Lee’s lifelong dream to work as a musician.
            But when the pandemic hit and shuttered live entertainment venues,
            she found that she had lost her job overnight.
          </p>
          <p>
            A few months into the circuit breaker period, she decided to level
            up her skills and enrolled in an intensive 3-month, software
            engineering course. With her new skill set, she managed to find a
            job within 4 months in a healthcare technology company. ”
          </p>
        </blockquote>
        <img
          src={img_profile1}
          class="rounded-circle mb-2"
          alt=""
          width="120"
        />
        <figcaption class="blockquote-footer mt-0">
          Deborah Jean Lee, 27
          <!-- <cite title="Source Title">- Economist</cite> -->
        </figcaption>
      </figure>
    </div>
    <div class="carousel-item" data-bs-interval="12000">
      <figure class="testimonial col-md-8 mx-auto">
        <blockquote class="blockquote text-opacity-25">
          <p>
            “ After six years in the aerospace industry, Mr. Farhan Ramdan
            switched to a higher-paying job with travel opportunities in the oil
            and gas industry. However, just one month in, he was told that he
            had to be let go due to the pandemic. To support his then-pregnant
            wife, Mr. Farhan turned to driving and delivering food for Grab but
            was still unable to make up for the loss of income.
          </p>
          <p>
            Browsing the Grab driver app one day, he came across GrabAcademy,
            Grab’s training initiative, where he discovered an eight-month
            software development programme that enabled him, despite having no
            prior experience in tech, to land his current role as a junior
            software engineer for Grab. ”
          </p>
        </blockquote>
        <img
          src={img_profile2}
          class="rounded-circle mb-2"
          alt=""
          width="120"
        />
        <figcaption class="blockquote-footer mt-0">
          Farhan Ramdan, 32
        </figcaption>
      </figure>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<style lang="scss">
  @import "bootstrap/scss/_carousel.scss";
  .carousel-indicators {
    transform: translateY(200%);

    [data-bs-target] {
      background-color: $primary;
    }
  }

  .carousel-control-next,
  .carousel-control-prev {
    background-color: $primary;
    top: 50%;
    bottom: auto;
    width: auto;
    padding: 1rem;
    transform: translateY(-50%);

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .blockquote-footer::before {
    content: "";
  }
</style>
