---
// https://codepen.io/zremboldt/pen/ZvQjOG

// https://www.smashingmagazine.com/2020/02/magic-flip-cards-common-sizing-problem/
---

<div class="col card__container">
  <div class="card__wrapper">
    <div class="card-front">
      <slot name="card_front" />
    </div>

    <div class="card-back">
      <slot name="card_back" />
    </div>
  </div>
</div>

<style lang="scss" is:global>
  :root {
    --time: 0.707s;
  }

  .card__container {
    perspective: 40rem;
  }

  .card__wrapper {
    display: flex;
    transform-style: preserve-3d;
    transition: var(--time) transform;

    .card__container.active &,
    .card__container.active & {
      transform: rotateY(-180deg);
    }
  }

  .card-front,
  .card-back {
    backface-visibility: hidden;
    min-width: 100%;
  }

  .card-back {
    transform: rotateY(-180deg) translate(100%, 0);
  }

  // styling
  .card__wrapper {
    // border: 1px solid #ccc;
    // border-radius: 0.5rem;

    height: 100%;
  }

  .card__container {
    margin-bottom: 2rem;
    .card {
      height: 100%;
    }

    .card-img-top {
      cursor: pointer;
    }

    h4.card-title {
      font-size: 1.5rem;
    }
    .card-body {
      li,
      p {
        font-size: 0.95rem;
        line-height: 1.55;
      }
    }
  }

  .card__container.active {
    .card-front {
      pointer-events: none;
    }
  }
</style>
<script>
  //   document.addEventListener("DOMContentLoaded", () => {
  const cards = document.querySelectorAll(".card__container");

  // select front_card and return button only: .side.front, btn__return
  cards.forEach((card) => {
    let get_btns = card.querySelectorAll(".btn.btn__cardflip, .card-img-top");
    get_btns.forEach((btn) => {
      btn.addEventListener("click", (e) => {
        // console.log(get_btns, e);
        if (card.classList.contains("active")) {
          // console.log("remove active", card, e);
          card.classList.remove("active");
        } else {
          // console.log("add active", card, e);
          card.classList.add("active");
        }
      });
    });
  });
  //   });
</script>
