    <div class=" row row-cols-1 row-cols-md-2 py-5">
      <div class="rounded p-3 border border-white col  d-flex flex-column align-items-start justify-content-center gap-2">
        <h2 class="fw-bold text-body-emphasis">Enhance Your Career<br>
    
with Skills and Training Advisory Services</h2>
        <p class="text-body-secondary" style="
    color: white;
"><b>One-to-One Consultation</b>: Speak with our Skills Ambassadors for a free personalized consultation. Register for a virtual or phone consultation.</p>
        <a href="#" class="btn btn-outline-light btn-pill">Get Guidance</a>
      </div>

      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2">
          <div class="rounded p-3 border border-white col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3" style="
    /* background: red; */
">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#collection"></use>
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Identifying skills and training needs for your career goals</h4>
            
          </div>

          <div class="rounded p-3 border border-white col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#gear-fill"></use>
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Supporting career transition or progression</h4>
            
          </div>

          <div class="rounded p-3 border border-white col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#speedometer"></use>
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Finding suitable courses and course providers</h4>
            
          </div>

          <div class="rounded p-3 border border-white col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#table"></use>
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Accessing various assistance schemes for skills upgrading</h4>
            
          </div>
        </div>
      </div>
    </div>