<footer id="footer-1" class="footer division">
  <div class="container">
    <div class="bottom-footer bg-light p-3 my-5 rounded">
      <div class="row justify-content-between">
        <div class="col-lg-8">
          <ul class="bottom-footer-list d-flex">
            <li class="me-4">
              <p>© MyUpskillsFuture 2022</p>
            </li>
            <li class="me-4">
              <p class="last-li">
                <a href="mailto:yourdomain@mail.com"
                  >hello@skillsfuture.gov.sg
                </a>
              </p>
            </li>

            <li class="me-4">
              <p>
                <a
                  href="https://www.myskillsfuture.gov.sg/content/portal/en/header/faqs/for-further-assistance.html"
                  >Further Assistance
                </a>
              </p>
            </li>
          </ul>
        </div>
        <div class="col-lg-auto text-right">
          <ul class="d-flex">
            <li class="mx-4">
              <a class="ico-facebook" href="/demo-8#"
                ><i class="bi bi-facebook"></i>
              </a>
            </li>
            <li class="mx-4">
              <a class="ico-twitter" href="/demo-8#"
                ><i class="bi bi-twitter"></i>
              </a>
            </li>
            <li class="mx-4">
              <a class="ico-google-plus" href="/demo-8#"
                ><i class="bi bi-linkedin"></i>
              </a>
            </li>
            <li class="mx-4">
              <a class="ico-tumblr" href="/demo-8#"
                ><i class="bi bi-youtube"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
