---
// import img__logo from "@assets/logo-myskillsfuture.png";
import img__logo from "@assets/logo-myskillsfuture-color.png";
---

<header class="py-2">
  <div class="container px-0">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none"
      >
        <img width="168" src={img__logo} alt="MySkillsFuture Logo" style="mix-blend-mode: darken" />
      </a>
    </div>
  </div>
</header>
