---
import img__logo from "@assets/logo-myskillsfuture.png";
---

<header class="px-3 py-1 shadow-sm pt-3 pb-2 bg-info">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none"
      >

        <img width="168" src={img__logo} alt="MySkillsFuture Logo" />
      </a>
      
      <ul class="nav col-12 col-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2">Why Upskill?</a></li>
        <li><a href="#" class="nav-link px-2">Featured Skills</a></li>
        <li><a href="#" class="nav-link px-2">Courses</a></li>
        <li><a href="#" class="nav-link px-2">SkillFuture Credits</a></li>
      </ul>
    </div>
  </div>
</header>

