---
import img__bg from "@assets/upskills-banner.jpg";
---

<section
  class="masthead masthead__bg masthead__aspectratio masthead__overlay d-flex align-items-end align-items-md-center"
>
  <!-- style={`background-image: url(${img__bg})`} -->
  <div class="container-fluid masthead__content">
    <div class="row justify-content-between align-items-center">
      <div class="col-md-8 text-light">
        <h2
          class="display-3 text-uppercase text--shadow animate__animated animate__fast"
        >
          <span class="d-block">While some skills</span>
          <span class="d-block">become irrelevant,</span>
          <span class="d-block">new ones are needed.</span>
        </h2>
        <p class="subtitle my-1 my-sm-4 fw-bolder text--shadow">
          Secure your career by acquiring the right skills.
        </p>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .masthead__bg {
    // background-image: url("../assets/upskills/upskills-bg.jpg");
    background-image: url("../assets/SkillsFuture_drone_webpagebanner-02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include media-breakpoint-up(md) {
      background-image: url("../assets/SkillsFuture_drone_webpagebanner-01.jpg");
    }
  }
  .masthead__aspectratio {
    aspect-ratio: 1/1;

    @supports not (aspect-ratio: 1/1) {
      background-color: #041a3f;
      min-height: 80vh;
    }

    @include media-breakpoint-up(md) {
      aspect-ratio: 20/ 9;
    }
  }

  .text--shadow {
    text-shadow: 0.25rem 0.25rem 0.2rem rgba(0, 0, 0, 0.5);
    @include media-breakpoint-down(sm) {
      text-shadow: 0.125rem 0.125rem 0.2rem rgba(0, 0, 0, 0.5);
    }
  }

  .masthead__overlay {
    position: relative;
    &:after {
      content: "";
      background-color: rgba(0, 0, 0, 0.1);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
    & > div {
      z-index: 1;
    }
  }

  /* .masthead__content {
    margin-bottom: 3rem;
  } */
  .masthead h2 {
    font-size: clamp(1rem, 5vw + 1.5rem, 4.5rem);
    white-space: nowrap;
    line-height: 0.9;
  }
  .masthead p.subtitle {
    font-size: clamp(1.2rem, 4vw, 2.2rem);
    white-space: nowrap;
  }
  .masthead__content {
    @include media-breakpoint-down(md) {
      margin-bottom: clamp(0.8rem, 4vw, 2rem);
    }
    @include media-breakpoint-up(lg) {
      max-width: 1280px;
      margin-inline: auto;
    }
  }
  /* @include media-breakpoint-down(sm) {
    .masthead {
      h2 {
        // font-size: 1.75rem;
      }
    }
  } */
  /*  @media (max-width: 360px) {
    .masthead {
      h2 {
        font-size: 1.5rem;
      }
    }
    .masthead__content {
      margin-bottom: 1rem;
    }
  } */
</style>
