---
const { id } = Astro.props;
---

<section class="section__margin">
  <div class="container">
    <div class="newsletter__box rounded bg-info bg-gradient">
      <div class="row justify-content-between">
        <div class="col-lg-6">
          <div class="text-light">
            <h3 class="h3-sm">Subscribe to news alerts</h3>
            <p>Receive latest updates on marketing events and programmes.</p>
          </div>
        </div>
        <div class="col-lg-6 d-flex align-items-center">
          <form
            id={id}
            class="w-100"
            action="https://formspree.io/f/moqbjgzg"
            method="POST"
          >
            <div class="input-group">
              <input
                type="email"
                name="email"
                class="form-control"
                placeholder="Your email address"
                required=""
              />
              <button
                type="submit"
                class="btn btn-danger btn-sm"
                id="btn-submit__newsletter"
              >
                Subscribe Now
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col">
          <p class="text__fineprint">
            <small
              >By submitting this form, you hereby consent to the collection,
              use and storage of your personal data (“Data”) by the SkillsFuture
              Singapore Agency (“SSG”). You further agree that SSG (and such
              third parties as it may appoint, including the Skills Ambassador
              allocated to you) may use the Data, and may contact you for the
              purposes of providing you with (i) skills and training advisory
              services; and (ii) information / marketing any products and/or
              services marketed or provided by SSG, or any other SSG appointed
              training providers and third parties. If you wish to know more
              about how your Data is used, or if you wish to withdraw your
              consent, please email us at <a href="mailto:newsletter@skillsfuture.gov.sg"
                >newsletter@skillsfuture.gov.sg</a
              >.</small
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .newsletter__box {
    padding: 4rem 1rem;
    @include media-breakpoint-up(sm) {
      padding: 4rem 3rem 3rem;
    }
  }
  .text__fineprint {
    font-size: 0.7rem;
    color: $light;
    opacity: 0.7;
  }
</style>
