<!-- roadshow -->
<section class="py-5 bg__zigzag">
  <div class="container mx-auto text-center">
    <div class="row gx-md-5 justify-content-center">
      <div class="col-lg-10">
        <h2 class="h3 fw-normal mb-4 text-light">
          Join us for an immersive tech experience at the <strong
            class="d-inline-block">SkillsFuture Roadshow</strong
          >
          and find out how we can support your upskilling journey!
        </h2>
        <p class="display-4 text-light" style="line-height: 1.4">
          Northpoint City, South Atrium
          <br /><small>28 to 30 October 2022 | 11am to 9pm</small>
        </p>
        <p class="lead my-4 text-light">
          Learn how to bring your images to life through a <span class="fw-bold"
            >free</span
          > one-hour Augmented Reality workshop at the roadshow.
          <br /><small
            ><i class="text-light">Limited workshop slots available daily.</i>
          </small>
        </p>
        <p>
          <a
            href="https://go.gov.sg/ssg-ar-202210"
            class="btn btn-danger"
            target="_blank">Register here</a
          >
        </p>
      </div>
    </div>
  </div>
</section>
<style lang="scss">
  .bg__zigzag {
    /* https://10015.io/tools/css-background-pattern-generator */

    --blue: #4177c5;
    --darkblue: #5181c9;
    background: linear-gradient(135deg, var(--blue) 25%, transparent 25%) -22px 0,
      linear-gradient(225deg, var(--blue) 25%, transparent 25%) -22px 0,
      linear-gradient(315deg, var(--blue) 25%, transparent 25%),
      linear-gradient(45deg, var(--blue) 25%, transparent 25%);
    background-size: 44px 44px;
    background-color: var(--darkblue);
  }
</style>
