---
import banner_desktop from "../assets/220222-ssg_roadshow1600x640.jpg";
import banner_mobile from "../assets/220222-ssg_roadshow800x800.jpg";
---

<!-- roadshow -->
<section id="roadshow" class="d-flex justify-content-center">
  <picture>
    <source media="(min-width:768px)" srcset={banner_desktop} />
    <img src={banner_mobile} alt="" />
  </picture>
</section>
