---
import CampaignVideoThumb1 from "@assets/campaign_video_thumbnail-1.jpg";
import CampaignVideoThumb2 from "@assets/campaign_video_thumbnail-2.jpg";
---

<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="swiper-slide__content">
        <!-- <h2>Campaign Video 1</h2> -->
        <!-- <button class="btn btn-info">Watch Video</button> -->
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-info bg-gradient"
          data-bs-toggle="modal"
          data-bs-target="#watch_video"
          data-video_id="ih3sZCBW_dw"
        >
          Watch video
        </button>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="swiper-slide__content">
        <!-- <h2>Campaign Video 2</h2> -->
        <button
          type="button"
          class="btn btn-info bg-gradient"
          data-bs-toggle="modal"
          data-bs-target="#watch_video"
          data-video_id="HNPrGZP68Kk"
        >
          Watch video
        </button>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="watch_video"
  tabindex="-1"
  aria-labelledby="watch_videoLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content bg-transparent border-0">
      <div class="modal-header border-0 justify-content-end">
        <!-- <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1> -->
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
        </button>
      </div>
      <div class="modal-body p-0">
        <iframe
          id="video_iframe"
          class="w-100"
          style="aspect-ratio: 16/9"
          src="https://www.youtube-nocookie.com/embed/ih3sZCBW_dw"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<script>
  import Swiper, { Pagination, EffectCards } from "swiper";

  var swiper = new Swiper(".mySwiper", {
    effect: "cards",
    grabCursor: true,
    modules: [Pagination, EffectCards],
    pagination: {
      el: ".swiper-pagination",
      dynamicBullets: true,
    },
    slidesPerView: 1,
    // loop: true, // this will have additional 2 card
  });

  // bs5-youtube-modal - https://stackoverflow.com/questions/18622508/bootstrap-3-and-youtube-in-modal
  /* const video_iframe = document.getElementById("video_iframe");
  const video_btns = document.querySelectorAll(
    "button[data-bs-target='#watch_video']"
  );
  video_btns.forEach((item) => {
    item.addEventListener("click", (e) => {
      let video_id = e.target.dataset.video_id;
      video_iframe.src = `https://www.youtube-nocookie.com/embed/${video_id}`;
    });
  });

  // remove youtube on close
  const myModalEl = document.getElementById("watch_video");
  myModalEl.addEventListener("hidden.bs.modal", (event) => {
    video_iframe.src = ``;
  }); */
</script>

<style>
  @import "swiper/css";
  @import "swiper/css/pagination";
  @import "swiper/css/effect-cards";
  .swiper {
    aspect-ratio: 16/9;
    padding: 1rem;
    max-width: 320px;

    text-align: center;
  }
  @media (min-width: 420px) {
    .swiper {
      max-width: 420px;
    }
  }
  @media (min-width: 768px) {
    .swiper {
      max-width: 100%;
      text-align: initial;
    }
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }

  .swiper-slide {
    background-color: #ccc;
    background-repeat: none;
    background-size: cover;
    background-position: center;
  }
  .swiper-slide__content h2 {
    color: #fff;
  }

  .swiper-slide:nth-child(1n) {
    background-image: url("../assets/campaign_video_thumbnail-1.jpg");
  }

  .swiper-slide:nth-child(2n) {
    background-image: url("../assets/campaign_video_thumbnail-2.jpg");
  }

  .btn.btn-info {
    text-transform: capitalize;
    font-weight: 500;
    color: #fff;
  }
</style>
